label {
 font-weight: bold;
 display: block;
 margin-top: 0.5em;
}

.label {
    margin-top: 1em;
}

.checkboxgroup label {
 font-weight: normal;
 display: inline;
 margin-top: 0;
}

.checkboxgroup span {
 display: block;
}

form .error_message {
       display: block;
       color: #ff0000;
}

form .error input,
form .error textarea,
form .error select {
       background-color: #ddddff;
}


/* customization */

fieldset {
    border: 1px solid #888;
    margin-bottom: 1em;
}

legend {
}

form input[type=submit] {
    margin: 1em 0;
}

input, select {
    border: 1px solid #999;
    background-color: #ffffff;
}

fieldset.Hidden {
    border: none;
}

form .Left {
    float: left;
    margin-right: .5em;
}

form .Inline {
    margin: 0;
    float: left;
}

form .Inline label {
    margin: 0;
    display: inline;
}

form .constraint_required label:after {
    content: '*'
}

form .constraint_required input {
    border: 1px solid black; 
    background-color: #d0e0ff;
}

.Number input {
    text-align: right;
}

input[type="checkbox"] {
    float: left;
}

form mark {
    display: block;
    margin: .5em 0;
    padding: .5em; 
    border: 1px solid red; 
    background-color: #ffcccc;
    color: #f00;
}

