#nav {
 background: #475d61;
 float: left;
 margin: 0; padding: 0;
 border-bottom: none;
}

#nav li a, #nav li {
 float: left;
}

#nav li {
 list-style: none;
 position: relative;
 text-align: left;
}

#nav li a {
 padding: 0 2.1em;
 line-height: 30px;
 text-decoration: none;
 color: white;
 background: #475d61;
 text-transform: uppercase;
 font-size: 12px;
// background: -moz-linear-gradient(top, black, #3c3c3c 1px, #292929 25px);
// background: -webkit-gradient(linear, left top, left 25, from(black), color-stop(4%, #3c3c3c), to(#292929));
// border-right: 1px solid #3c3c3c;
// border-left: 1px solid #292929;
// border-bottom: 1px solid #232323;
// border-top: 1px solid #545454;
}

#nav li a:hover {
    color: #ddd;
// background: #2a0d65;
// background: -moz-linear-gradient(top, #11032e, #2a0d65);
// background: -webkit-gradient(linear, left top, left bottom, from(#11032e), to(#2a0d65));
}


#nav li ul {
 display: none;
 position: absolute;
 left: 0;
 top: 100%;
 padding: 0; margin: 0;
 border: 1px solid #006aa8;
}

#nav li:hover > ul {
 display: block;
}:

#nav li ul li, #nav li ul li a {
 float: none;
}

#nav li ul li {
 _display: inline; /* for IE6 */
}

#nav li ul li a {
 width: 150px;
 display: block;
 text-transform: none;
 line-height: 40px;
 background-color: #fff;
 color: #006aa8;
}

#nav li ul li a:hover {
 color: #006aa8;
 text-decoration: underline;
}
/* SUBSUB Menu */

#nav li ul li ul {
 display: none;
}

#nav li ul li:hover ul {
 left: 100%;
 top: 0;
}


#nav li ul 
