@font-face {
  font-family: 'nimbus';
  src: url('/fonts/nimbus.eot');
  src: url('/fonts/nimbus.eot?#iefix') format('embedded-opentype'), url('/fonts/nimbus.woff') format('woff'), url('/fonts/nimbus.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@media screen {
  .NoScreen {
    display: none;
  }
}

body, div, form, hr, img {
 margin: 0; padding: 0; border: 0;
}

body, p, td, li, div {
 font-family: "arial", Helvetica, sans-serif;
 color: #555;
 font-size: 12px;
}

body {
 text-align: center;
 padding: 0;
 background: #fff url('/img/bg.png') repeat-x 0 116px;
}

h1, h2, h3, h4 {
 font-weight: bold;
 color: #006aa8;
 font-stretch: semi-condensed;
}

h1 {
 font-size: 8px;
}

h2 {
 padding: 0 0 0 35px;
 margin: 1.6em 0;
 font-size: 18px;
 line-height: 29px;
 text-transform: uppercase;
 background: #fff url('/img/h2.png') no-repeat center left;
}
h3 {
 font-size: 120%;
 padding: 0;
 margin : .75em 0;
 font-weight: bold;
}
h4 {
 font-size: 120%;
}

hr, .Cleaner {
 clear: both;
 visibility: hidden;
}

#All {
}

#Top {
//  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
  height: 116px;
  min-width: 1024px;
  background: #fff url('/img/Top.png') repeat-x;
}

nav {
    width: 1024px;
    margin: 0 auto;
    text-align: left;
}

#Logo {
    padding-top: 2px;
    float: left;
}
#EuroClinicum {
    padding-top: 8px;
    float: right;
}

#Header {
    width: 1024px;
    margin: 0 auto;
    height: 85px;
}

#Main {
 width: 1024px;
 margin: 63px auto 0 auto;
}

#SiteInfo {
 background: #f0f0f0;
 color: #999;
 text-align: left;
 font-size: 13px;
 padding: 7px 0 7px 15px;
}

#Content {
 background: #fff;
 padding: 5px 15px;
 text-align: left;
 min-height: 250px;
}

#Bottom {
 width: 1024px;
 margin-right: auto;
 margin-left: auto;
 margin-top: 1em;
 background: #555 url('/img/bottom.png') no-repeat center left;
 height: 56px;
}

#Copyright {
 color: #fff;
 font-size:8px
 line-height: 56px;
 text-align: right;
 padding: 1.5em 2em;
}

nav {
    display: block;
    background-color: #ccc;
    border: #f00;
}

#Copyright a {
 color: #fff;
 text-decoration: none;
 font-weight: bold;
}

.Hidden {
    display: none;
}

.Number {
    text-align: right;
}

.NoWrap {
   white-space: nowrap;
}

/* FORMATOVANI VYSLEDKU */
.ResultHeader {
 padding: .5em;
 border: 2px solid black;
}
.ResultHeader dt {
 float: left;
 clear: left;
 width: 14em;
 padding: 0 1em 0 0;
 margin: 0;
 line-height: 1.8em;
 border-bottom: 1px dotted black;
}

.ResultHeader dd {
 line-height: 1.8em;
 border-bottom: 1px solid white;
}

.ResultFooter {
 text-align: center;
 margin-top: 1em;
 padding: 1em;
 border-top: 2px solid black;
}

table.Result {
 border: 1px solid #333;
 border-spacing: 0;
 border-collapse: collapse;
}
table.Result th {
 font-weight: bold;
 border: 1px solid #333;
 background-color: #f1f1f1;
 margin: 0; padding: .2em;
 color: #000;
 text-align: left;
}
table.Result td {
 border: 1px solid #333;
 margin: 0; padding: .2em;
}
table.Result td.th {
 font-weight: bold;
 text-align: right;
}
table.Result tr.Alert td {
    background-color: #fcc;
}

dt {
    font-weight: bold;
}

dd {
    margin-bottom: .5em;
    margin-left: 0;
}

.ui-dialog form {
    text-align: left;
    margin: 1em;
}

table.Spreadsheet, table.Spreadsheet th, table.Spreadsheet td  {
    border-spacing: 0;
    border-collapse: collapse;
    border: 1px solid #999;
    margin: 0;
}
table.Spreadsheet th  {
    text-align: center;
    padding: .2em .2em;
}

table.Spreadsheet td  {
    padding: 1px 5px;
}

form table.Spreadsheet td  {
    padding: 0;
}

table.Spreadsheet td.th  {
    padding: 0 .5em;
}

table.Spreadsheet td input {
   border: none;
}

table.Spreadsheet td input.Error {
   border: 1px solid red;
}

.ui-dialog form {
    text-align: left;
}
.ui-dialog form {
    margin: 1em;
}

td.Opener span {
    width: 16px;
    height: 16px;
    display: block;
    float: left;
    background-image: url('/css/redmond/images/ui-icons_2e83ff_256x240.png');
    background-position: -32px 0;
}

td.Opened span {
    width: 16px;
    height: 16px;
    display: block;
    float: left;
    background-image: url('/css/redmond/images/ui-icons_2e83ff_256x240.png');
    background-position: -64px 0;
}

.Left {
    float: left;
}

.Error {
    margin: 0 0 1em 0;
    padding: 2em;
    border: 2px solid #f00;
    background-color: #fee;
    font-weight: bold;
    font-size: 150%;
    text-align: center;
}
