<script type="text/javascript" src="/js/shCore.js"></script>
<script type="text/javascript" src="/js/shBrushXml.js"></script>
<pre class="brush: xml">
[% content %]
</pre>

<script>
SyntaxHighlighter.all();
</script>
