<p>
<h3>Co musí nové heslo obsahovat, aby bylo bezpečné a šlo nastavit</h3>
<ol>
<li>Heslo musí být minimálně 7 znaků dlouhé.</li>
<li>Heslo musí obsahovat znaky alespoň ze 3 následujících skupin
    <ul>
    <li>Velká písmena anglické abecedy (A-Z)</li>
    <li>Malá písmena anglické abecedy (a-z)</li>
    <li>Čísla (0-9)</li>
    <li>Speciální znaky jako: ! @ # $ . , + - mezera atd.</li>
    </ul>
</li>
<li>Heslo nesmí obsahovat uživatelské jméno.</li>
<li>Heslo musíte udržovat v tajnosti, ale nemělo by se nikam zaznamenávat (papír, PC, mobil, atd.)</li>
<li>Heslo by se mělo lišit od hesel používaných v jiných sítích či službách</li>
</ol>
</p>
