[% META title = 'Zákazník' %]
<div id="Tabs">
    <ul>
        <li><a href="#tab0">Informace o zákazníkovi</a></li>
[% IF editable %]
        <li><a href="#tab1">Editace zákazníka</a></li>
[% IF ! c.config.feature.disable_sharing %]
        <li><a href="#tab2">Zpřístupnění výsledků</a></li>
[% END %]
        <li><a href="#tab3">Návštěvy, jednání</a></li>
[% IF credits %]
        <li><a href="#tab4">Ekonomické údaje</a></li>
[% END %]
[% END %]
        <li><a href="#tab5">Aktivity</a></li>
    </ul>

    <div id="tab0">
        [% INCLUDE customers/info.tt2 %]
[% IF takeable %]
<p>
<a href="/customers/[% customer.id %]/take/" class="TakeLink" id="[% customer.id %]" />Požadat o převzetí</a>
</p>
<div id="dialog-confirm-take" title="Převzit zákazníka?" class="DialogConfirm">
<div>Opravdu chcete převzit zákazníka?</div>
</div>
[% END %]

        </div>
[% IF editable %]
    <div id="tab1">[% form %]</div>
[% IF ! c.config.feature.disable_sharing %]
    <div id="tab2">[% share_form %]</div>
[% END %]
    <div id="tab3">[% INCLUDE customers/meetings.tt2 %]</div>
[% IF credits %]
    <div id="tab4">
[% prefix = [ '/customers/', customer.id, '/credits/' ] %]
[% INCLUDE credits.tt2 prefix = prefix.join() %]
[% IF commissions %]
[% INCLUDE customers/commissions.tt2 %]
[% END %]
    </div>
[% END %]
[% END %]
    <div id="tab5">
        [% INCLUDE customers/activity.tt2 %]
    </div>
</div>
<script>
$(document).ready(function() {

    $( ".Button" ).button();

    $( "#Tabs" ).tabs({
        autoHeight: false,
[% IF c.flash.rc == 'saved' %]
        selected: 1
[% ELSIF c.flash.rc == 'saved_share' %]
        selected: 2
[% ELSIF c.flash.rc == 'saved_meeting' %]
        selected: 3
[% END %]
    });

[% IF editable %]
    $( "#search" ).autocomplete({
        source: '/customers/autocomplete/?customer_id=[% customer.id %]',
        select: function( event, ui ) {
            $( "#share" ).append(
                '<span><input type="checkbox" name="share" checked="checked" value="'
                + ui.item.value
                + '" /> <label>'
                + ui.item.label
                + '</label></span>'
            );
            $( "#search").val("");
            return false;
        },


    });
[% END %]

    $( ".DialogConfirm" ).dialog({
        resizable: false,
        width:     360,
        modal:     true,
        autoOpen:  false,
        position:  top,
    });

    $(".TakeLink")
        .button()
        .click(
            function(e) {
                e.preventDefault();
                var targetUrl = $(this).attr("href");
                var id        = $(this).attr("id");
                var Dialog    = $( "#dialog-confirm-take" );

                Dialog.dialog( "open" );

                Dialog.dialog({
                    width: "250px",
                    buttons: {
                        "ANO": function() {
                            $.ajax({
                                url:  targetUrl,
                                type: "POST",
                                data: id,
                                success: function(data) {
                                    Dialog.next("div").html(
                                        'Váše žádost o převzetí zákazníka<br/>' +
                                        'byla odeslána obchodnímu řediteli'
                                    );
                                }
                            });
                        },
                        "NE": function() {
                            $( this ).dialog( "close" );
                        }
                    }
                });
            }
        );

});
</script>

<style>
fieldset.checkboxgroup {
    margin-top: 1em;
}
input.suggested > label {
    text-color: #999;
}
</style>
