[% META title = 'Zákazníci' %]
<table id="Customers">
<tbody>
[% FOREACH customer = customers %]
<tr>
    <td>[% customer.created_date %]</td>
    <td>[% customer.icp %]</td>
    <td>[% customer.login %]</td>
    <td>[% customer.name %]</td>
    <td>[% customer.city %]</td>
    <td>[% customer.region.name %]</td>
    <td>[% customer.dealer.name %]</td>
    <td>
        <a href="[% c.uri_for(c.controller.action_for('edit'), [customer.id]) %]" class="Icon EditLink">editovat</a> 
    </td>
</tr>
[% END %]
</tbody>
</table>

<style>
input { border: 1px solid #ccc;}
</style>
<script>
$(document).ready(function() {

    $('#Customers').dataTable({

       "bJQueryUI"      : true,
       "sPaginationType": "full_numbers",
       "bPaginate"    : true,
       "bLengthChange": true,
       "bProcessing"  : true,
       "bFilter"      : true,
       "bSort"        : true,
       "bInfo"        : true,
       "bAutoWidth"   : true,
       "bStateSave"   : true,
       "iDisplayLength": 50,

        "oLanguage": {
            "sUrl": "/dataTables/languages/cs.txt"
        },
        
        "aoColumns": [
            { 
                "mDataProp": "created",
                "sTitle"   : "Zaveděn",
                "sWidth"   : "5em"
            },
            { 
                "mDataProp": "icp",
                "sTitle"   : "ICP",
                "sWidth"   : "5em"
            },
            { 
                "mDataProp": "login",
                "sTitle"   : "Login",
                "sWidth"   : "5em"
            },
            { 
                "mDataProp": "fullname", 
                "sTitle"   : "Příjmení, Jméno (Název)" 
            },
            { 
                "mDataProp": "city", 
                "sTitle"   : "Město (obec)" 
            },
            { 
                "mDataProp": "region_id", 
                "sTitle"   : "Okres" 
            },
            { 
                "mDataProp": "dealer_account_login", 
                "sTitle"   : "Obchodník" 
            },
            { 
                "mDataProp": "id", 
                "sTitle"   : "Akce", 
                "bSortable": false,
                "sWidth"   : "50px"
            }
        ]
    });


    $( ".DialogConfirm" ).dialog({
        resizable: false,
        width:     360,
        modal:     true,
        autoOpen:  false,
        position:  top,
    });


    $('.EditLink')
        .button (
            {
                 icons: {primary: "ui-icon-pencil"},
                 text: false,                
            }
        
        );

    $('.LockLink')
        .button (
            {
                 icons: {primary: "ui-icon-locked"},
                 text: false,                
            }
        
        );

    $('.UnLockLink')
        .button (
            {
                 icons: {primary: "ui-icon-unlocked"},
                 text: false,                
            }
        
        );

    $('.ShareLink')
        .button (
            {
                 icons: {primary: "ui-icon-arrow-4-diag"},
                 text: false,                
            }
        
        );

    $('.TakeLink')
        .button (
            {
                 icons: {primary: "ui-icon-plusthick"},
                 text: false,                
            }
        
        )
        .click(
            function(e) {
                e.preventDefault();
                var targetUrl = $(this).attr("href");
                var id        = $(this).attr("id");
                var Dialog    = $( "#dialog-confirm-take" );

                Dialog.dialog( "open" );

                Dialog.dialog({
                    width: "250px",
                    buttons: {
                        "ANO": function() {
                            $.ajax({
                                url:  targetUrl,
                                type: "POST",
                                data: id,
                                success: function(data) {
//                                  Dialog.next("div").html(
                                    Dialog.next("div").html(
                                        'Váše žádost o převzetí zákazníka<br/>' +
                                        'byla odeslána obchodnímu řediteli'
                                    );
                                }
                            });
                        },
                        "NE": function() {
                            $( this ).dialog( "close" );
                        }
                    }
                });
            }
        );

    $('.DeleteLink')
        .button (
            {
                 icons: {primary: "ui-icon-close"},
                 text: false,                
            }
        )
        .click(
            function(e) {
                e.preventDefault();
                $( "#dialog-confirm-delete" ).dialog( "open" );
                var targetUrl = $(this).attr("href");

                $( "#dialog-confirm-delete" ).dialog({
                    buttons: {
                        "ANO": function() {
                            window.location.href = targetUrl;
                        },
                        "NE": function() {
                            $( this ).dialog( "close" );
                        }
                    }
                });
            }
        );

    $('.CreditsLink')
        .button (
            {
                 icons: {primary: "ui-icon-calculator"},
                 text: false,                
            }
        
        );
});
</script>

<div id="dialog-confirm-delete" title="Smazat zákazníka?" class="DialogConfirm">
<p>Opravdu chcete trvale odstranit zákazníka?</p>
</div>
<div id="dialog-confirm-take" title="Převzit zákazníka?" class="DialogConfirm">
<div>Opravdu chcete převzit zákazníka?</div>
</div>

